<%= link to: Routes.person_path(@conn, :index) do %>
  <div class="block">
    <span class="icon">
      <i class="fa fa-chevron-circle-left"></i>
    </span>
    <span>People</span>
  </div>
<% end %>
<h1 class="title">New Person</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.person_path(@conn, :create)) %>