<h1>Show Person</h1>

<ul>

  <li>
    <strong>Full name:</strong>
    <%= @person.full_name %>
  </li>

  <li>
    <strong>Preferred name:</strong>
    <%= @person.preferred_name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @person.email %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.person_path(@conn, :edit, @person) %></span>
<span><%= link "Back", to: Routes.person_path(@conn, :index) %></span>
