<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>OpenULM · User Lifecycle Management</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item">
            <strong>openULM</strong>
          </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Directory
              </a>

              <div class="navbar-dropdown">
                <a class="navbar-item" href="/directory/people">
                  People
                </a>
                <a class="navbar-item" href="/directory/groups">
                  Groups
                </a>
            </div>
          </div>
          <a class="navbar-item">
            Settings
          </a>
        </div>
      </nav>    
    </header>
    <section class="section">
        <%= @inner_content %>
    </section>
  </body>
</html>
